.mainNewsItem{
    width: 412px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainNewsItem img{
    width: 412px;
    height:474px;
    object-fit: cover;
}
.mainNewsItem h3{
    font-family: Bauer Bodoni Std 1;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.mainNewsItem div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mainNewsItem div p{
    font-family: Graphik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left:6px;
    color:#ACACAC;
}